*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    background-color: #FDE458;
    font-size: 20px;
    text-align: left;
}
.p{
    font-size: 10px;
    text-align: center;
    text-shadow: 1px 2px 2px purple;
}
.h3{
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    text-align: center;
}
.h1{
    font-family: 'Courier New', Courier, monospace;
    color: red;
}
.img{
    background-color: aqua;
}
